@import url('https://fonts.cdnfonts.com/css/gunny-rewritten');

.container {
  font-family: 'Gunny Rewritten', sans-serif;
  padding: 30px;
  text-align: left;
}

.title {
  font-weight: 600;
  font-size: 90px;
  margin-bottom: 40px;
  margin-top: 0px;
} 

main {
  text-align: left;
}

.description {
  font-size: 28px;
  color: #777;
}
