@import url('https://fonts.cdnfonts.com/css/gunny-rewritten');

.root {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 30px;
    height: 42px;
}
  
.inner {
    display: flex;
    justify-content: space-between;
}
  
.logo {
    color: rgb(54, 216, 228);
    font-weight: 900;
    font-family: 'Gunny Rewritten', sans-serif;
    font-style: oblique;
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0.15px;
    padding: 3px 2px;
    text-decoration: none;
  
    &:hover {
      background-color: rgb(54, 216, 228);
      color: rgb(255, 255, 255);
      border-radius: 10px;
    }
}
  
.buttons {
    button {
      background-color: rgb(54, 216, 228);
      color:rgb(255, 255, 255);
      margin-left: 10px;
      font-weight: 1000;
      margin-bottom: 5px;
      height: 41px !important;
      padding: 6px 16px;

      &:hover {
        background-color: rgb(0, 0, 0);
        color: rgb(255, 255, 255);
      }
    }
  
    a {
      text-decoration: none;
    }
}

.activeLink {
  text-decoration: none !important;
  color: black;
  font-weight: bold;
  
  &:visited {
    color: black;
  }
}
